     <!-- PAGE TITLE -->
    <div class="container">
        <p class="title">{{title}}</p>
    </div>

    <!-- CARDS -->
    <div class="container">
        <div class="row row-cols-md-3 row-cols-sm-2 row-cols-1">
          {{#each cards}}
            <div class="col">
              <a class="card" style="marginInLine=30px" href="/page2?category={{category}}?id={{_id}}">
                <img src="{{image_src}}" class="card-img-top" alt="{{image_alt}}", title="{{image_title}}">
                <div class="card-title">{{title}}</div>
                <div class="card-text">
                  <p class="card-description">{{main_text}}</p>
                  <p class="read-more">Διαβάστε περισσότερα</p>
                </div>
              </a>
            </div>
          {{/each}}
          {{#if admin}}
            <div class="col">
              <a class="card" href="/page2?category={{category}}?id=add" id="add">
                <div class="card-text">+</div>
              </a>
            </div>
          {{/if}}
        </div>
    </div>

    