    <div class="container">
        <form id="myForm" 
            {{#if admin}} enctype = 'multipart/form-data' data-id="{{id}}" data-category="{{category}}"{{/if}}
            {{#if user}} action="/page2?category={{category}}&id={{id}}" method="post" enctype = 'multipart/form-data' {{/if}}>
            <fieldset class="m-3">
                {{#if admin}}
                    <div class="d-flex justify-content-end align-items-center">
                        <!-- edit button -->
                        <button id="editButton" class="btn btn-warning m-3">Επεξεργασία</button>
                        <!-- save button -->
                        <button type="submit" id="saveButton" class="btn btn-success">Αποθήκευση</button>
                        <!-- delete button -->
                        <button type="submit" id="deleteButton" class="btn btn-danger m-3">Διαγραφή</button>
                    </div>
                {{/if}}
            
                <!-- title and description div -->
                <div class="mb-3">
                    <input id="title" name="title" class="form-control adminInput mb-3" type="text" placeholder="Όνομα" value ="{{title}}" disabled>
                    {{#if description}}
                        <textarea id="description" name="description" class="form-control adminInput" placeholder="Περιγραφή" disabled>{{description}}</textarea>
                    {{/if}}
                </div>
                
                <!-- import/preview photo -->
                <div class="input-group mb-3 adminAction" id="importPhoto">
                    <input name="images" type="file" class="form-control" id="inputGroupFile">
                    <button type="submit" class="btn btn-outline-secondary" type="button" id="previewButton">Προβολή</button>
                </div>
                

                <!--images container-->
                <div id="carouselImages" class="carousel slide mb-3 justify-content-center" data-bs-ride="carousel">
                    <div class="carousel-inner" id="imagesContainer">
                        <!-- images -->
                        {{#each images}}
                            
                            <div id="image{{this.id}}"class="carousel-item">
                                <img src="{{this.src}}" alt="{{this.alt}}" title="{{this.title}}" class="d-block mb-3 mx-auto w-50 h-50 text-center"> 
                                
                                <div id="imageInfo{{this.id}}" class="ml-3 mr-3 mb-3 gap-2 adminAction" style="margin-left: 25%; margin-right: 25%;">
                                    <div class="row mb-3">
                                        <div class="col-auto">
                                            <label for="imageTitle{{this.id}}" class="form-label" >Τίτλος:</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-control" type="text" placeholder="Τίτλος" value="{{this.title}}" disabled>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-auto">
                                            <label for="imageAlt{{this.id}}" class="form-label">Εναλλακτικό κείμενο:</label>
                                        </div>
                                        <div class="col">
                                            <input class="form-control" type="text" placeholder="Εναλλακτικό κείμενο" value="{{this.alt}}" disabled>
                                        </div>
                                    </div>
                                </div>


                                <div class="mb-3 gap-2 d-flex justify-content-center adminAction">
                                    <button id={{this._id}} class="deleteImageButton mb-3 btn btn-danger adminAction">Διαγραφή Φωτογραφίας</button>
                                </div>

                            </div>
                        {{/each}}
                        
                         
                    </div>
                    {{#if images}}
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselImages" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselImages" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    {{/if}}
                </div>
                    


                <!-- all new elements are inside to this div -->
                <div id="container">
                    {{#each info}}
                    <div class="mb-3">
                        <textarea name="info" class="form-control adminInput editMode mb-3" placeholder="Πρόσθεσε επιπλέον πληροφορίες. Π.χ. Πρόσβαση, Ιστορια." disabled>{{this}}</textarea>
                        <button class="infoDeleteButton btn btn-danger adminAction">Διαγραφή</button>
                    </div>
                    {{/each}}
                </div>
                <!-- add parapraph button -->
                <button id="addInfo" class="btn btn-primary mb-3 adminAction">Πρόσθεσε Κουτί πληροφορίων</button>
                
                <br><br>
                <!--Google map-->
                <h4>Χάρτης</h4>
                <!-- input element for google search map -->
                <div class="row adminAction mb-3" style="justify-content: space-between;">
                    <div class="col">
                        <input id="searchLocation" class="form-control" type="text" placeholder="Αναζήτηση Τοποθεσίας">
                    </div>
                    <div class="col-auto">
                        <button id="searchButton" class="btn btn-primary">Αναζήτηση</button>
                    </div>
                </div>
                                

                <div id="map-container-google-1" class="mb-3 z-depth-1-half map-container d-flex justify-content-center">
                    <iframe class="map" src={{map}} frameborder="0" allowfullscreen></iframe>
                    <input id="mapLocation" type="hidden" name="map" value="{{map}}">
                </div>
                
                <br><br>
                <!-- reviews -->
                <div class="container mt-3">
                    <div class="row">
                        <div id="totalReviews" class="col">Αξιολογήσεις ({{numOfReviews}})</div>
                        <div id="avgRating" class="col">{{avgRating}} &#9733;</div>
                    </div>
                </div>
                
                <div id="reviews-flex" class="flex test"> 
                    <div id="reviewContainer" class="flex-column mb-3 overflow-auto" >
                        {{#each reviews}}
                        {{!-- new Div --}}
                        <div class="card m-2">
                            {{!-- new Row --}}
                            <div class="row">
                                {{!-- new Col1 --}}
                                <div class="col-md-3">
                                    {{!-- new Col2 --}}
                                    <div class="d-flex align-items-center h-100">
                                        <div class="card-text mx-auto">
                                            {{!-- user name --}}
                                            {{this.username}}
                                        </div>
                                    </div>
                                </div>
                                {{!-- new Col3 --}}
                                <div class="col">
                                    <div class="card-bory m-3">
                                        <div class="star_rating">                                  
                                           {{#each this.score}}

                                                {{#if this}}
                                                    <button class="star" style="color:#1F4591">&#9733; </button>
                                                {{else}}
                                                    <button class="star" style="color:grey">&#9734;</button>
                                                {{/if}}
                                            {{/each}}
                                        </div>
                                        {{#if this.text}}
                                            <textarea class="form-control final_review_text" style="background-color:white" placeholder="Γράψε το σχόλιο σας εδώ" autocomplete="off" disabled>{{this.text}}</textarea>
                                        {{/if}}
                                        <div class="card-text">
                                            <div class="small text-body-secondary" style="display:block">{{this.date}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        </div>
                </div>

                {{#if user}}
                    <!-- button add review -->
                    <button id="addReview" class="btn btn-primary mb-3">Πρόσθεσε Αξιολόγηση</button>
                {{/if}}
        </fieldset> 
        </form>
    </div>

    {{#if admin}}<script src="/scripts/page2admin.js"></script>{{/if}}
    {{#if user}}<script src="/scripts/page2User.js"></script>{{/if}}
    {{#if guest}}<script src="/scripts/page2Guest.js"></script>{{/if}}


